{% extends 'Home/base.html' %}

{% load static %}

{% block content %}

    {% if  user.is_authenticated %}
    <h3>Bienvenido(a) {{ user.username }}</h3>
    {% endif %}

    {% if user.is_staff %}
       <p><a href="{% url 'admin:index' %}">Administración</a></p>
       <p><a href="{% url 'Home:register' %}">Registrar Nuevo Usuario</a></p>
    {% endif %}
       
        

        


   <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-6 mb-lg-4" src="{% static 'Home/img/Embarcacion Naval.webp' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Modelismo Naval Coleccionable </h1>
            <p>En Modelismo Naval encontraras bellos barcos de madera que podras lucir, tambien contamos con
                varios talleres donde puedes desarrollar habilidades para la construccion de estos mismos y conocer mejor sobre las herramientas
                que se usan para su construcción. Por ultimo contamos con un apartado donde podras postear tu conocimientos sobre este arte o simplemente compartir 
                alguna historia sobre barcos.
            </p>
            <a class="btn btn-outline-info" href="{% url 'Producto:Producto_list' %}">Mira todo los Productos Aqui</li></a>
            <a class="btn btn-outline-dark" style="margin-top: 10px" href="{% url 'Servicio:Servicio_list' %}">Mira los Servicios Aqui</li></a>
            <a class="btn btn-outline-success" style="margin-top: 10px" href="{% url 'Posteos:Posteos_list' %}">Mira los Posteos Aqui</li></a>

        </div>
    </div>
    <div>
    </div>

{% endblock content %}