{% extends 'Producto/index.html' %}


{% block title %} Detalle de Productos {% endblock title %}

{% block content_producto %}
<div class="card" style="width: 22rem; padding: 0rem; margin: 1rem;">
    {% if producto.imagen%}
    <img 
    src="{{producto.imagen.url}}"
    {% else %}
    src="{{producto.image.url}}"
{% endif %}
     class="card-img-top" alt="Producto ">

    <ul>
        <li>
            <p><strong>Nombre:</strong> {{ object.Nombre }}</p>
            <p><strong>Descripción:</strong> {{ object.Descripcion }}</p>
            <p><strong>Precio:</strong> {{ object.Precio }}</p>
            <p><strong>Cantidad:</strong> {{ object.Cantidad }}</p>
            <p><strong>Ultima Actualización:</strong> {{ object.Ultima_actualizacion }}</p>
            {% if user.is_staff %}
            {% endif %}
                
        </li>
    </ul>
    <div class="d-grid gap-3" style="margin: 1rem;"> 
        <a href="{% url 'Producto:Producto_list' %}" class="btn btn-info">Volver a la Lista de Productos</a>
    </div> 
    <div class="d-grid gap-3" style="margin: 1rem;">
        {% include 'Producto/index_back.html' %}
    </div>
{% endblock content_producto %}

