{% extends 'Producto/list.html' %}

{% block title %}
    Lista de Productos
{% endblock title %}

{% block search %}
    <div class="py-lg-4">
        <form action="{% url 'Producto:Producto_list' %}" method="get">
            <input name="consulta" type="text" placeholder="Buscar...">
        </form>
    </div>
{% endblock search %}
 
{% block table_header %}
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
{% endblock table_header %}

{% block table_body %}
    {% for Producto in object_list %}
    <tr>
          <td>{{ Producto.Nombre }}</td>
          <td>${{ Producto.Precio }}</td>
          <td><a href="{% url 'Producto:Producto_detail' Producto.id %}" class="btn btn-secondary">Ver detalle</a></td>
          {% if user.is_staff %}
          <td><a href="{% url 'Producto:Producto_update' Producto.id %}" class="btn btn-primary">Actualizar</a></td>
          <td><a href="{% url 'Producto:Producto_delete' Producto.id %}" class="btn btn-danger">Eliminar</a></td>
          {% endif %}
    </tr>
    {% endfor %}
{% endblock table_body %}


        




      




