{% extends 'Home/base.html' %}


{% block content %}

    <h1 class="shadow-lg text-center">Servicios</h1>
    <div class="container mt-lg-3">

        <h3 class="pb-lg-3">
            {% block title %}
                Lista de Servicios
            {% endblock title %}
        </h3>

        {% block content_servicio %}
            <div class="d-grid gap-3">
                {% if user.is_staff %}
                    <a href="{% url 'Servicio:Servicio_create' %}" class="btn btn-primary">Crear</a>
                {% endif %}
                <a href="{% url 'Servicio:Servicio_list' %}" class="btn btn-primary">Listar</a> <br>
            </div>
        {% endblock content_servicio %}

    </div>
{% endblock content %}