{% extends 'Servicio/index.html' %}


{% block title %} Detalle de Servicio {% endblock title %}

{% block content_servicio %}

<div class="card" style="width: 22rem; padding: 0rem; margin: 1rem;">
    {% if servicio.image%}
    <img 
    src="{{servicio.image.url}}"
    {% else %}
    src="{{servicio.image.url}}"
{% endif %}
     class="card-img-top" alt="Servicio ">
    <ul>
        <li>
            <p><strong>Nombre:</strong> {{ object.nombre }}</p>
            <p><strong>Descripción:</strong> {{ object.descripcion }}</p>
            <p><strong>Precio:</strong> {{ object.Precio }}</p>
            <p><strong>Ultima Actualización:</strong> {{ object.Ultima_actualizacion }}</p>
        </li>
            
    </ul>
    <div class="d-grid gap-3">
        {% include 'Servicio/index_back.html' %}
    </div>

{% endblock content_servicio %}