{% extends 'Posteos/index.html' %}


{% block title %} Detalle de Posteos {% endblock title %}

{% block content_posteos %}
<div class="img-fluid" style="max-width: 100%; padding: 0">
  <div class="row g-0">
    <div class="img-fluid" style="width: 22rem; padding: 0rem; margin: 1rem;">
      {% if posteos.image%}
      <img 
      src="{{posteos.image.url}}"
      {% else %}
      src="{{posteos.image.url}}"
      {% endif %}
      class="img-fluid" alt="posteos ">
      
      
    </div>
  </div>
  <div>
    <div>
      <div class="container">
            <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
            <h1 class="card-title">{{posteos.titulo}}</h1>
            <h5 class="card-subtitle">{{posteos.subtitulo}}</h5>
            <p class="card-text">{{posteos.contenido}}</p>
            <p class="card-text"><span style="text-decoration: underline;">Ultima modificación:</span> {{posteos.Ultima_actualizacion}}</p>
        </div>
    </div>
    <div class="d-grid gap-3">
        {% include 'Posteos/index_back.html' %}
    </div>
{% endblock content_posteos%}